<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Listagem de Médicos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
    <div class="container pt-5">
        <a th:href="@{/medico/create}">Cadastrar Medico</a>
        <h1>Listagem de Médicos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CRM</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="medico : ${medicosList}">
                    <td scope="row" th:text="${medico.id}"></td>
                    <td scope="row" th:text="${medico.nome}"></td>
                    <td scope="row" th:text="${medico.crm}"></td>
                    <td scope="row" th:text="${medico.especialidade}"></td>
                    <td scope="row" th:text="${medico.telefone}"></td>
                    <td scope="row">
                        <span th:if="${medico.ativo}" class="badge badge-success">Ativo</span>
                        <span th:unless="${medico.ativo}" class="badge badge-danger">Inativo</span>
                    </td>
                    <td>
                        <a th:href="@{/medico/delete/{id}(id=${medico.id})}">Deletar</a>
                    </td>
                    <td>
                        <a th:href="@{/medico/edit/{id}(id=${medico.id})}">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>